.posterUnit__default {

}

.posterUnit_card {
  padding: 0.4rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px #eeeeee;

  div {
    box-sizing: border-box;
  }
}

//.van-cell.van-field {
//  padding: 0;
//}
