.zcountDown{
  .bg_white{
    background-color: #fff;
  }
  .block {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
  }
}